<meta http-equiv="X-UA-Compatible" content="IE=9;chrome=1"/>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
      <title>Homberman</title>
      <meta charset="utf-8" />
      
	  <meta name="viewport" content="width=device-width, initial-scale=1"/>
		
      {% block head %}
		<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
		<link rel="icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon" />
	
	    <link href="{{ MEDIA_URL }}css/base.css" media="all" rel="stylesheet" />
	    <link href="{{ MEDIA_URL }}css/map.css" media="all" type="text/css" rel="stylesheet" />
	    <link href="{{ MEDIA_URL }}js/jgrowl/jquery.jgrowl.css" media="all" type="text/css" rel="stylesheet" />
	    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&v2' rel='stylesheet' type='text/css'>
      {% endblock %}
    </head>
    <body>
      <div class="wrap">
        {% if user.is_authenticated %}
        <div class='nav'>
            Привет {{ user }} | 
            <a href="{% url main:games_history %}">История игр</a> |
            {% if not user.get_current_game %}
                <a href="{% url main:list_games %}">Список игр</a> |
            {% endif %}
            <a href="{% url accounts:logout %}?next={{ request.path_info|urlencode }}">Выйти</a>
        </div>
		<hr />
        {% endif %}
       {% block body %}{% endblock %}
	   <hr />
       <div style="font-size: 0.8em">
           <a href="https://github.com/Alerion/homeberman" target="blank">Репозиторий</a>
       </div>
      </div> 
    </body>
</html>