.map {
    position: relative;
}

.map .cell {
    background-color: #DDD;
    position: absolute;
    cursor: pointer;
}


.map .wall {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFvG1Hu1ornEsjyHRIz4NaiDsXql05wHpaRj+V+QAAAItJREFUeNpskFsOwCAIBFeR5f43Lg+pNunghyYyrMICHPIoAcdAroHlAATJ2dBEgNprMzlJ7Bp+3WCoEa7byGpw6QRdeuka2LIlfmnDbO+cG89pCzH2eCfz/k/OCZ5nX5FeXcywLG/XaPe6evSrK2c47OSsr4ujjI/YB8UHhbdW5wyLD9IMm29/BBgABusE2NwikLEAAAAASUVORK5CYII=);
}
