{% extends 'base.html' %}

{% block body %}
<h2>Создать игру</h2>
<h1>Homber Man</h1>
    <form method="POST">
        <table>
        {{ form }}
        </table>
        {% csrf_token %}
        <input type='submit' value='Создать'/>
    </form>
    <div>
        Не создавайте игру на большое количество человек, если столько не наберете.
        Застрянете в текущей не начавшейся игре. Можете зайти несколькими пользователями
        и через время бездействия все поумирают и игра окончится.
    </div>
{% endblock %}
