{% extends 'base.html' %}

{% block head %}
    {{ block.super }}
    
    <script src="{{ MEDIA_URL }}js/Orbited.js"></script>
    <script src="{{ MEDIA_URL }}js/stomp.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-1.6.2.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.rpc.js"></script>
    <script src="{{ MEDIA_URL }}js/jgrowl/jquery.jgrowl.js"></script>
    <script src="{{ MEDIA_URL }}js/jQuery.StompListener.js"></script>
    <script src="{{ MEDIA_URL }}js/jQuery.Game.Map.js"></script>
    <script src="{{ MEDIA_URL }}js/jQuery.Game.Player.js"></script>
    <script src="{{ MEDIA_URL }}js/jQuery.Game.Controller.js"></script>
    <script src="{% url main:api %}"></script>    
    <script>
        //Show error message for RPC exceptions
        jQuery.Rpc.on('exception', function(event){
            $.jGrowl.error('ERROR: '+event.message);
        });
        
        FINISH_URL = '{% url main:finished game.pk %}';
        
        //Init STOMP
        STOMP_KEY = '{{ user.get_stomp_key }}';
        ORBITED_STOMP_SOCKET = {{ ORBITED_STOMP_SOCKET }};
        ORBITED_HTTP_SOCKET = {{ ORBITED_HTTP_SOCKET }};
        
        document.domain=document.domain;
        Orbited.settings.port = ORBITED_HTTP_SOCKET;
        TCPSocket = Orbited.TCPSocket;
        
        jQuery(function(){
              $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  // Does this cookie string begin with the name we want?
                                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                          break;
                                      }
                              }
                          }
                          return cookieValue;
                      }
                      if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                          // Only send the token to relative URLs i.e. locally.
                          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                      }
                  }
              });            
            
        });
    </script>
{% endblock %}

{% block body %}
	<table border="0" width="100%">
		<tr align="center">
			<td style="border:1px solid black; background:white;" class="button-up"><img src="{{ MEDIA_URL }}img/cb_up.png"></td>
			<td style="border:1px solid black; background:white;" class="button-down"><img src="{{ MEDIA_URL }}img/cb_down.png"></td>
			<td style="border:1px solid black; background:white;" class="button-left"><img src="{{ MEDIA_URL }}img/cb_left.png"></td>
			<td style="border:1px solid black; background:white;" class="button-right"><img src="{{ MEDIA_URL }}img/cb_right.png"></td>
			<td style="border:1px solid black; background:white;" class="button-bomb"><img src="{{ MEDIA_URL }}img/cb_bomb.png"></td>
		</tr>
	</table>
	<br />
	<table border="1" width="100%">
		<tr>
			<td>
				<div class="map"></div>
			</td>
            <td>
                <div class="panel"></div>
                <div style="font-size: 0.8em">
                    W - UP<br />
                    S - DOWN<br />
                    A - LEFT<br />
                    D - RIGHT или клик мышкой на ближайшей клетке<br />
                    Q - BOMB или клик по игроку<br />
                    Время хода {{ MOVE_TIME }} сек.<br />
                </div>
            </td>			
		</tr>
	</table>
    {{ block.super }}
    {% block content %}{% endblock %}
{% endblock %}