{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    {% if not user.in_game %}
    <a href="{% url main:add_game %}" title="Add game">Создать игру</a>
    {% endif %}
    
    <table>
        <tr align="center" style="font: bold 110% serif; background: #aabbbb;">
            <td>Название</td>
            <td>Лимит смертей</td>
            <td>Размер карты</td>
            <td>Игроки</td>
            <td></td>
        </tr>
        {% for game in games %}
            <tr align="center">
                <td>{{ game }}</td>
                <td>{{ game.death_limit }}</td>
                <td>{{ game.get_size_display }}</td>
                <td>
                    {% for p in game.players.all %}
                        {{p}}
                    {% endfor %}
                </td>
                <td>
                    {% if not user.in_game %}
                    <a href="{% url main:join_game game.id %}">join</a>
                    {% else %}
                    ------
                    {% endif %}
                </td>
            </tr>
        {% endfor %}        
    </table>
    <a href="">Обновить</a>
    <div>
        Если после начала игры никто не двигается, обновите страницу. Не понятные проблемы
        с "сокетами" :(
    </div>
    <hr />
    <div>
        Текущие игры: 
        {% for game in playing %}
            {{ game }}
        {% endfor %}        
    </div>

{% endblock %}
