{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}
    <div>
        {% if games %}
        <table>
            <thead align="center" style="font: bold 110% serif; background: #aabbbb;">
                <td>Название</td>
                <td>Время окончания</td>
            </thead>
            {% for game in games %}
                <tr align="center" >
                    <td><a href="{% url main:finished game.pk %}">{{ game }}</a></td>
                    <td>{{ game.finished }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        Вы не доиграли ни одной игры.
        {% endif %}
    </div>
{% endblock %}