{% extends 'main/base.html' %}

{% block head %}
    {{ block.super }}
    <script>
        jQuery(function($){
            var stompListener = new jQuery.StompListener({
                socket: ORBITED_STOMP_SOCKET,
                user_id: STOMP_KEY
            });
                        
            var Map = new jQuery.Game.Map({
                node: $('.map')
            });
            
            var Controller = new jQuery.Game.Controller({
                map: Map,
                stomp: stompListener
            });
        });
    </script>
{% endblock %}

{% block content%}
<div class="panel">
    W - UP, S - DOW, A - LEFT, D - RIGHT(does not work in FF) or click<br/>
    SPACE - BOMB<br/>
    Move time is 1 sec, so you can move only once per second. Bombs in development.<br/>
    Delay of explosion is 4 sec.
</div>
<div class="map"></div>
{% endblock %}