{% extends '../base.html' %}

{% block head %}
    <script src="{{ static('js/Orbited.js') }}"></script>
    <script src="{{ static('js/stomp.js') }}"></script>
    <script src="{{ static('js/jquery-1.6.2.min.js') }}"></script>
    <script src="{{ static('js/jquery.rpc.js') }}"></script>
    <script src="{{ static('js/jgrowl/jquery.jgrowl.js') }}"></script>
    <script src="{{ static('js/jQuery.StompListener.js') }}"></script>
    <script src="{{ static('js/jQuery.Game.Map.js') }}"></script>
    <script src="{{ static('js/jQuery.Game.Player.js') }}"></script>
    <script src="{{ static('js/jQuery.Game.Controller.js') }}"></script>
    <script src="{{ url('rpc') }}"></script>    
    <script>
        //Show error message for RPC exceptions
        jQuery.Rpc.on('exception', function(event){
            $.jGrowl.error('ERROR: '+event.message);
        });
        
        FINISH_URL = "{{ url('finish') }}";
        
        //Init STOMP
        STOMP_KEY = '{{ game.stomp_key() }}';
        ORBITED_STOMP_SOCKET = {{ ORBITED_STOMP_SOCKET }};
        ORBITED_HTTP_SOCKET = {{ ORBITED_HTTP_SOCKET }};
        MOVE_TIME = {{ MOVE_TIME }};
        
        document.domain=document.domain;
        Orbited.settings.port = ORBITED_HTTP_SOCKET;
        TCPSocket = Orbited.TCPSocket;
        
        function log(){
            console && console.log && console.log(arguments);
        }
    </script>
    {% block extrahead %}{% end %}
{% end %}

{% block body %}
    <table border="0" width="100%">
        <tr align="center">
            <td style="border:1px solid black; background:white;" class="button-up"><img src="{{ static('img/cb_up.png') }}"></td>
            <td style="border:1px solid black; background:white;" class="button-down"><img src="{{ static('img/cb_down.png') }}"></td>
            <td style="border:1px solid black; background:white;" class="button-left"><img src="{{ static('img/cb_left.png') }}"></td>
            <td style="border:1px solid black; background:white;" class="button-right"><img src="{{ static('img/cb_right.png') }}"></td>
            <td style="border:1px solid black; background:white;" class="button-bomb"><img src="{{ static('img/cb_bomb.png') }}"></td>
        </tr>
    </table>
    <br />
    <table border="1" width="100%">
        <tr>
            <td>
                <div class="map"></div>
            </td>
            <td>
                <div class="panel"></div>
                <div style="font-size: 0.8em">
                    <b>W</b> - UP<br />
                    <b>S</b> - DOWN<br />
                    <b>A</b> - LEFT<br />
                    <b>D</b> - RIGHT или клик мышкой на ближайшей клетке<br />
                    <b>Q</b> - BOMB или клик по игроку<br />
                    <br />
                    Время хода {{ MOVE_TIME }} сек.<br />
                </div>
            </td>           
        </tr>
    </table>
    {% block content %}{% end %}
{% end %}