{% extends '../base.html' %}

{% block body %}

    {% if not user.in_game() %}
    <a class="button" href="{{ url('add_game') }}" title="Add game">Создать игру</a>
    {% end %}
    
    <table>
        <tr align="center" style="font: bold 110% serif; background: #aabbbb;">
            <td>Название</td>
            <td>Лимит смертей</td>
            <td>Кол. человек</td>
            <td>Размер карты</td>
            <td>Игроки</td>
            <td></td>
        </tr>
        {% for game in games %}
            <tr align="center">
                <td>{{ game }}</td>
                <td>{{ game.death_limit }}</td>
                <td>{{ game.max_players }}</td>
                <td>{{ game.get_size_display() }}</td>
                <td>
                    {% for p in game.players.all() %}
                        {{ p }}
                    {% end %}
                </td>
                <td>
                    {% if not user.in_game %}
                    <a href="{ url main:join_game game.id }">join</a>
                    {% else %}
                    ------
                    {% end %}
                </td>
            </tr>
        {% end %}        
    </table>
    <a href="">Обновить</a>
    <hr />
    <div>
        Текущие игры: 
        {% for game in playing %}
            {{ game }}
        {% end %}        
    </div>

{% end %}
