{% extends 'base.html' %}

{% block extrahead %}
    <script>
        jQuery(function($){
            
            var socketListener = new jQuery.SocketListener({
                socketConfig: {
                    port: 8000,
                    rememberTransport: false,
                    transports: ['websocket', 'flashsocket']                    
                }
            });
                        
            var Map = new jQuery.Game.Map({
                node: $('.map')
            });
            
            var Controller = new jQuery.Game.Controller({
                panelNode: jQuery('.panel'),
                finish_url: FINISH_URL,
                map: Map,
                stomp: socketListener,
                up_button: $('.button-up'),
                down_button: $('.button-down'),
                left_button: $('.button-left'),
                right_button: $('.button-right'),
                bomb_button: $('.button-bomb'),
            });
        });
    </script>
{% end %}